.footer-item {
    margin-right: 50px;
    list-style: none;
}
.footer-item a{
    text-decoration: none;
}

.footer-list{
    display: flex;
 
}


.anh{
    display: flex;
    margin: 10px auto;
    background-repeat: no-repeat;
    width: 40%;
    height: 50%;
    
}

.container{
    border: 1px solid black;
}
.hienthi{
    flex-wrap: wrap;
    display: flex;
    margin: 10px;
    justify-content: center;
}
.item{
   
    width: 30.3%;
    margin: 5px;
    border: 1px solid black;
}


.thongtinsp{
    font-weight: bold;
    margin: 30px;
    
}


.chuyentrang{
    display: flex;
    justify-content: center;
    height: 30px;
    border: 1px solid black;
    margin: 0px 100px 10px 100px;
}

.chuyentrang input{
    width: 30px;
    margin: 3px;
    border-radius: 3px;
}

.footer{
    border: 2px solid black;
    height: 50px;
    
}

@media screen and (max-width:750px){
    .menu {
        width: 100%;
        border: solid 1px rebeccapurple;
        margin: 0px;
        padding: 0px;
        display: block;
        overflow: visible;
        
        }

    
}