.top-header__navbar-item:hover .header__notify {
    display: block;
}

.top-header__navbar-item--link {
    cursor: pointer;
}

.top-header__navbar-item:hover .top-header__navbar-user-menu {
    display: block;
}

/* BREADCRUMB */
#breadcrumb {
    position: relative;
    width: 100%;
    /* z-index: 2; */
    display: block;

}

.breadcrumb-category {
    display: block;
    padding-bottom: 8px;
    position: relative;

}

.breadcrumb-list {
    display: flex;


}

.breadcrumb-item {

    margin-top: 10px;
    list-style: none;
}
.breadcrumb-item>a{
    padding: 10px 8px;
}
.breadcrumb-item>a:hover{
    color: red;
}
.breadcrumb-link {
    text-decoration: none;
    color: #20090950;
    font-size: 2rem;
    text-align: center;
    display: block;
    width: 100%;
    padding: 10px 0;
}
/* BREADCRUMB */


